<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Welcome to N.E.T. Results with Jess DeHart!</h2>
        <p class="lead">Jess is a certified RRCA Running coach and NASM certified personal trainer. Jess understands that strength and endurance do not come from physical capacity. They come from the willingness and tenacity to set a goal and exceed it. Let Jess help you achieve your N.E.T. Results.</p>
      </div>
    </div>
    <!-- /.row <h2>"If you want something you've never had, you must be willing to do something you've never done."</h2>
    <p class="lead">~ Thomas Jefferson</p>-->
  </div>
  <!-- /.container -->
</section>
