<div class="container-user">
    <div class="user profile">
    </div>
    <div class="name">
        <p class="text">Jess DeHart</p>
        <hr class="small">
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-8 col-lg-8 col-lg-offset-2 col-sm-offset-2 col-md-offset-2">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-10 col-lg-10 col-lg-offset-1 col-sm-offset-1 col-md-offset-1">
                    <p class="text-left lead">
                      Jess is currently an Adjunct Assistant Professor at Suffolk County Community College where she teaches in the Fitness Specialist Program in the Physical Education Department.  She spent 10 years as the Director of Personal Training for a national fitness franchise.  Jess also teaches exercise classes for Strength for Life, a not-for-profit that offers free exercise classes for cancer patients and survivors to enhance their recovery process.
                    </p>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-10 col-lg-10 col-lg-offset-1 col-sm-offset-1 col-md-offset-1">
                    <p class="text-left lead">
                        Jess was a varsity high school athlete where she played field hockey (all-county), basketball and ran track for all 4 years.  In college she played rugby and continued to run and strength train as a way to stay fit and relieve stress.  This love for fitness propelled her to become a personal trainer/run coach where she has coached/trained one to one, small group and online for all ages and abilities.  From aspiring Olympic competitors who need to improve their running times to individuals who want to run their first running race, she has worked with a wide ranging clientele. She hopes to take all of her knowledge and experience to help individuals to reach their full potential.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="row">
          <div class="col-sm-10 col-md-10 col-lg-10 col-lg-offset-1 col-sm-offset-1 col-md-offset-1">
            <h2 class="text-center"><i class="fa fa-graduation-cap fa-fw"></i> Qualifications</h2>
            <hr class="large"></hr>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8 col-lg-offset-2 col-sm-offset-2 col-md-offset-2">
            <ul class="jess-list">
              <li class="qualification-item">RRCA Certified Running Coach</li>
              <li class="qualification-item">Certified NASM Personal Trainer (Performance Enhancement Specialist)</li>
              <li class="qualification-item">Masters In Exercise Science: Performance Enhancement and Injury Prevention (CALU)</li>
              <li class="qualification-item">Masters In Education (Dowling College)</li>
              <li class="qualification-item">Bachelors in Social Work (University of New Hampshire)</li>
              <li class="qualification-item">CPR/AED/First Aid</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="side-border col-sm-6 col-md-6 col-lg-6">
        <div class="row">
          <div class="col-sm-10 col-md-10 col-lg-10 col-lg-offset-1 col-sm-offset-1 col-md-offset-1">
            <h2 class="text-center"><i class="fa fa-trophy fa-fw"></i> Jess’s Highlights</h2>
            <hr class="large"></hr>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8 col-lg-offset-2 col-sm-offset-2 col-md-offset-2">
            <ul class="jess-list">
              <li class="qualification-item">4x Ironman (2.4 mile swim, 112 mile bike, 26.2 mile run)</li>
              <li class="qualification-item">4x Marathoner</li>
              <li class="qualification-item">Completed 50+ triathlons of various distances (top age group finisher)</li>
              <li class="qualification-item">Completed 100+ running races of various distances (top age group finisher)</li>
          </div>
        </div>
      </div>
    </div>
</div>
