<!-- jQuery -->
<!--<script src="js/jquery.js"></script>-->

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/custom.js"></script>

<!-- Google reviews -->
<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyBxpc4_ja3drJ36NaalqF4lFKCz_COPoBY"></script>-->

<!-- load the plugin/script -->
 <!--<script src="/js/jquery-google-reviews.js" defer></script>-->

 <!-- load the css to display the reviews beautifully -->
 <link href="/css/jquery-google-reviews.css" rel="stylesheet">
